<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- أوقات الإشارة -->
		<add key="RedTrafficLightStartTime" value="0" />
		<add key="GreenUlTrafficLightStartTime" value="20" />
		<add key="GreenFrTrafficLightStartTime" value="27" />
		<add key="GreenTrafficLightStartTime" value="20" />
		<add key="OrangeTrafficLightStartTime" value="35" />

		<!-- نقاط الخروج -->
		<add key="LeftExitX" value="-100" />
		<add key="RightExitX" value="1450" />
		<add key="UpExitY" value="-100" />
		<add key="DownExitY" value="850" />

		<!-- الفلفل: قيمة سرية ثابتة تضاف لكلمة المرور -->
		<add key="PasswordPepper" value="MySuperSecretPepper_2026!" />
		<!-- قيمة Salt جديدة متوافقة مع Base64 بطول 24 حرفاً -->
		<add key="PasswordSalt" value="7Q+zXYZ123ABCxyz98765432" />

		<!-- الهاش: الناتج النهائي لعملية التشفير (يتم توليده مرة واحدة وتخزينه هنا) -->
		<add key="PasswordHash" value="/fjzg0Reu0HbV/jkE8AU2E1UbC+r3TNK4atiR/FLrHo=" />
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>